.App {
  text-align: center;
  min-height: 100vh;
  background-image: url('../src/assets/images/Musical_Background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}

.main-content{
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding-left: 50px;
  padding-right: 50px;
  background-color: #eeeeee;
  color: black;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.main-content-dark{
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding-left: 50px;
  padding-right: 50px;
  background-color: #222222;
  background-position: center;
  color: #eeeeee;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#footer{
  
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#sign-in-form {
  width: 200px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 2px solid;
  background-color: whitesmoke;
  border-radius: 10px;
  border-bottom: 4px solid;
  color: rgb(67,173,165);
}

#sign-in-form button {
  width: 75px;
  margin-top: 15px;
  text-align: center;
  align-self: center;
  background-color: rgba(143, 236, 236, 0.493);
  border-radius: 15px;
}



#sign-up-form {
  width: 150px;
  display: flex;
  align-self: center;
  flex-direction: column;
  padding: 2rem;
  margin: auto;
  border: 2px solid;
  background-color: whitesmoke;
  border-radius: 10px;
  border-bottom: 4px solid;
  color: rgb(67,173,165);

}

#sign-up button {
  width: 75px;
  margin-top: 15px;
  text-align: center;
  align-self: center;
  background-color: rgba(143, 236, 236, 0.493);
  border-radius: 15px;
}

